   <% book.book_comments.each do |book_comment| %>
    <tr>
     <!--<div class="comments">-->
       <td style="margin: 0 30px; padding-right: 10px;"><%= attachment_image_tag book_comment.user, :profile_image, :fill, 40, 40, fallback: "no_image.jpg",size:'40x40' %><br>
        <%= link_to book_comment.user.name,users_path %>
        </td>
        <td style="margin: 0 30px; padding-right: 10px;">
          <p><%= book_comment.comment %></p>
        </td>
        <% if book_comment.user == current_user %>
        <td>    
          <%=link_to  book_book_comment_path(book_comment.book_id,book_comment.id),method: :delete, remote:true, class:"btn btn-sm btn-danger" do %>
            Destroy
          <% end %>
        </td>
        <% end %>
    <!--</div>-->
   </tr>
  <% end %>